@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
}


/* shared style */

.color-light-gray{
    color: rgb(114, 114, 114);
}
.section-title{
    font-size: 45px;
    font-weight: 700;
}

header{
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 140px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > h3{
    font-size: 45px;
    font-weight: 700;
    color: rgb(19, 19, 19);
    
}

nav > ul{
  
display: flex;
text-decoration: none;
}

nav li{
    
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-right: 30px;
    list-style: none;  
}

nav li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.banner{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.banner-title{
    font-size: 3rem;
    font-weight: 700px;
    color: rgb(19, 19, 19)
}


.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
margin-bottom: 50px;
height: 40px;
margin-top:30px;
cursor: pointer;
border: 0;

}

/* main styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}


.team-img-container{
    display: flex;
    align-items: center;
    padding: 70px;

}


.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}


.span-one{
   
    font-size: 45px;
    font-weight: 500;
    color: rgb(114, 114, 114);
}


.span-two{
    font-size: 45px;
    font-weight: 700;
    color:rgb(19, 19, 19);
}

.span-three{
    
    font-size: 45px;
    font-weight: 700;
    color: rgb(255, 144, 14);
}


.team-container{
    padding-right: 70px;
    padding-left: 70px;
}


.facts-card-container{
    display: flex;
    justify-content: space-around;
}


.facts-card-container .cards{
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
    padding: 40px 30px;
}


.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: rgb(66, 66, 66);
    margin-top: 10px;
    margin-bottom: 10px;
}


.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
}


.sponsors{
    text-align: center;
}


.sponsors-img-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
    gap: 40px; 
    
}


.sponsors-img-section img{
    width: 165px;
}

/* for mobile */
@media screen and (max-width:576px) {
    header{
     padding: 20px;
    }
    
    nav,
    .team-img-container,
    .facts-card-container,
    .sponsors-img-section{
        flex-direction: column;
    }

    .team-img{
        grid-template-columns: 1fr;
    }
    

    .team-container, .facts-card-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    

    .facts-card-container{
        gap: 20px;
    }
}

/* for medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
       }
       nav,
        .team-img-container,
        .sponsors-img-section{
        flex-direction: column;
    }
    
    .team-container{
        padding-right: 20px;
        padding-left: 20px;
    }
}

